{% load static %}
{% load django_htmx %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Roboto font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    {% tailwind_css %}
    {% django_htmx_script %}
    <title>Home</title>
</head>

<body class="min-h-dvh antialiased font-roboto h-fit">

    <!-- home screen -->
    <section class="relative min-h-dvh w-full">
        <!-- bg room photo -->
        <div
            class="flex flex-col min-h-dvh items-center justify-center w-full bg-[url('/static/png/room_photo.png')] bg-cover bg-no-repeat bg-center">

            <!-- callendar -->
            <div
                class="flex flex-col z-10 bg-white text-5xl h-1/2 w-2/4 font-normal capitalize text-black text-center pt-10">
                <p>calendar here to do</p>
            </div>
            <!-- check button -->
            <div class="absolute bottom-8 z-10">
                <a href="#"
                    class="btn-lg text-2xl px-10 py-4 rounded-2xl text-white font-normal bg-charcoal capitalize">check</a>
            </div>

        </div>

    </section>
</body>

</html>